<footer class="bg-black/5 border-t border-l border-r dark:border-white/15 border-black/20 rounded-t-lg shadow-sm dark:bg-white/5 m-8">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://www.linkedin.com/in/ks-iitjmu/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Kunal Sharma</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#Home" class="hover:underline me-4 md:me-6">Home</a>
                </li>
                <li>
                    <a href="#Projects" class="hover:underline me-4 md:me-6">Projects</a>
                </li>
                <li>
                    <a href="#About" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#contact" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-black sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://kunalsharma.tech/" class="hover:underline">Kunal Sharma</a>. All Rights Reserved.</span>
    </div>
</footer>