<header class="w-full py-5 px-4 md:px-6">
    <div class="mx-auto w-full max-w-screen-xl flex flex-wrap justify-center">
        <div class="inline-flex flex-wrap rounded-md shadow-sm">
            <a
                href="#Home"
                aria-current="page"
                class="px-4 py-2 text-sm font-medium text-blue-700 border border-gray-200 rounded-s-lg hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
            >
                Home
            </a>
            <a
                href="#Projects"
                class="px-4 py-2 text-sm font-medium text-gray-900 border border-gray-200 hover:bg-gray-100 hover:text-blue-700 dark:hover:text-white dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
            >
                Projects
            </a>
            <a
                href="#About"
                class="px-4 py-2 text-sm font-medium text-gray-900 border border-gray-200 hover:bg-gray-100 hover:text-blue-700 dark:hover:text-white dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
            >
                About
            </a>
            <a
                href="#contact"
                class="px-4 py-2 text-sm font-medium text-gray-900 border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 dark:hover:text-white dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
            >
                Contact
            </a>
        </div>
    </div>
</header>
