<header class="w-full py-5 px-4 md:px-6">
    <div class="mx-auto w-full max-w-screen-xl flex flex-wrap justify-center">
        <div
            class="inline-flex flex-wrap rounded-md backdrop-blur-sm border border-white/10 dark:border-white/10 border-black/10 shadow-lg dark:bg-black/20 bg-black/10"
        >
            <a
                href="#Home"
                aria-current="page"
                class="px-4 py-2 text-sm font-medium text-blue-700 border-transparent rounded-s-lg hover:bg-black/20 dark:hover:bg-black/30 dark:text-white transition-colors"
            >
                Home
            </a>
            <a
                href="#leetcode"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                LeetCode
            </a>
            <a
                href="#codeforces"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                Codeforces
            </a>
            <a
                href="#gssoc"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                GSSoC
            </a>
            <a
                href="#osci"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                OSCI
            </a>
            <a
                href="#Projects"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                Projects
            </a>
            <a
                href="#About"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                About
            </a>
            <a
                href="#Learning"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                Learning
            </a>
            <a
                href="#Certifications"
                class="px-4 py-2 text-sm font-medium text-white border-transparent hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                Certifications
            </a>
            <a
                href="#contact"
                class="px-4 py-2 text-sm font-medium text-white border-transparent rounded-e-lg hover:bg-white/20 hover:text-blue-700 dark:hover:text-white dark:text-white dark:hover:bg-black/30 transition-colors"
            >
                Contact
            </a>
        </div>
    </div>
</header>
